.sliders {
  width: 20%;
  height: 100%;
  background: #FECA13;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 2vh;
  margin: 0px 10px 0px 0px; /*2nd px = dist btwn slider & emoji*/
  border-radius: 10%;
}

.example-thumb {
  cursor: pointer;
  position: relative;
  z-index: 100;
  background: #ffffff;
  border: 12.2px solid #ff4ea4;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.example-track {
  position: relative;
  background: rgb(203, 203, 203);
}

.example-track.example-track-0 {
  background: #fea8d1;
}

.horizontal-slider .example-track {
  top: 14px; /*vertical placement of thumb?*/
  height: 10px; /*width of traack*/
}

.horizontal-slider .example-thumb {
  top: 6px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: monospace;
  font-weight: normal;
}

svg {
  width: 90vmin;
  height: 90vmin;
}

path {
  cursor: pointer;
}
