body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1 { /* "our hand-made cinnamon rolls"*/
    font-size: 150%;
    font-weight: lighter;
    text-align: left;
}

h2 { /* product titles, button text*/
    font-size: 120%;
}

.nav-link:hover { /*Products & Cart highlighted when mouse on hover*/
    background-color: yellow;
    cursor: pointer;
}

h3 { /*prices*/
    font-size: 140%;
}

.nav-bar { /* "product" and "cart"*/
    /*border: 3px solid red;*/
    width: 100%;
    font-size: 120%;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 3%;
}

.nav-right {/*text & line on right side of nav bar*/
    display: flex;
    flex-direction: column;
    /*border: 3px dashed pink;*/
    width: 85%;
}

.menu-bar { /*"product" & "cart" container*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*border: 3px solid blue;*/
}

.page-title { /*"product" & "cart" text*/
    /*border: 3px dashed red;*/
    margin-right: 12%;
}

hr {
    width: 100%;
}

p {
    font-size: 100%;
}

.product-img { /*image in each product description*/
    border: 3px solid black;
}

#logo { /*Bun Bun logo (in top right)*/
    margin: 0 4% 0 4%;
    /*border: 3px solid blue;*/
}

.products { /*container for products displayed*/
    display: flex;
    flex-flow: row wrap;
    margin: 5% 8% 0 8%;
    justify-content: space-between;
    box-sizing:border-box;
}
.product { /*individual product description*/
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.product-choices-2rows { /*glazing & pack size rows*/
    display: inline;
    flex-direction: column;
}

.product-choice-row { /*individual glazing OR pack size row*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 5%;
}

.product-choice-last-row { /*price & add to cart row*/
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.keep-original-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    width: 60%;
    height: 80%;
}

.pack-size { /*container for pack size buttons*/
    display: inline-flex;
    width: 62%;
    justify-content: space-between;
    align-items: center;
}

.pack-size-btn { /*individual pack size btn*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: 3px solid black;
    height: 35px;
}

.pack-size-selected-btn { /*selected pack size has gray background*/
    background-color: rgb(197, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: 3px solid black;
    height: 35px;
}

.add-to-cart-btn {
    text-align: center;
    border: 3px solid black;
    width: 60%;
}

.add-to-cart-btn:hover { /*turns to yellow when hovering*/
    background-color: yellow;
    cursor: pointer;
    text-align: center;
    border: 3px solid black;
    width: 60%;
}

.triangle-down { /*drop down button*/
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 12px solid black;
    display: inline;
}