.notecard {
    box-sizing: border-box;
    margin: 150px auto 0px auto;
    width: 450px;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: green;
    text-align: center;
}

.note-title { /*override body color*/
    color: #dddddd;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}

.notecard-thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.btn-delete {
    width: 30px;
    height: 30px;
    margin-top: 15px;
    padding: 0;

    font-size: 14px;
    font-weight: 700;
    color: #595959;
    background-color: #212121;

    border: 2px solid #595959; /*width, type, color*/
    border-radius: 5px;

    cursor: pointer;
}

.btn-delete:hover {
    color: #dddddd;
    background-color: #393939;
    border: 2px solid #dddddd;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(200, 200, 100);
}